<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.model.mapper.UploadFileResponseMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.uploadFile.UploadFileResponse">
    <id column="ur_id" jdbcType="BIGINT" property="urId" />
    <result column="ur_domainName" jdbcType="VARCHAR" property="urDomainname" />
    <result column="ur_domainId" jdbcType="BIGINT" property="urDomainid" />
    <result column="ur_fileName" jdbcType="VARCHAR" property="urFilename" />
    <result column="ur_fileDownloadUri" jdbcType="VARCHAR" property="urFiledownloaduri" />
    <result column="ur_fileType" jdbcType="VARCHAR" property="urFiletype" />
    <result column="ur_size" jdbcType="BIGINT" property="urSize" />
    <result column="ur_customInfo" jdbcType="VARCHAR" property="urCustominfo" />
    <result column="ur_recordTime" jdbcType="TIMESTAMP" property="urRecordtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ur_id, ur_domainName, ur_domainId, ur_fileName, ur_fileDownloadUri, ur_fileType,
    ur_size, ur_customInfo, ur_recordTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_uploadfileresponse
    where ur_id = #{urId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_uploadfileresponse
    where ur_id = #{urId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.uploadFile.UploadFileResponse">
    insert into t_uploadfileresponse (ur_id, ur_domainName, ur_domainId,
      ur_fileName, ur_fileDownloadUri, ur_fileType,
      ur_size, ur_customInfo, ur_recordTime
      )
    values (#{urId,jdbcType=BIGINT}, #{urDomainname,jdbcType=VARCHAR}, #{urDomainid,jdbcType=BIGINT}, 
      #{urFilename,jdbcType=VARCHAR}, #{urFiledownloaduri,jdbcType=VARCHAR}, #{urFiletype,jdbcType=VARCHAR}, 
      #{urSize,jdbcType=BIGINT}, #{urCustominfo,jdbcType=VARCHAR}, #{urRecordtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.uploadFile.UploadFileResponse">
    insert into t_uploadfileresponse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="urId != null">
        ur_id,
      </if>
      <if test="urDomainname != null">
        ur_domainName,
      </if>
      <if test="urDomainid != null">
        ur_domainId,
      </if>
      <if test="urFilename != null">
        ur_fileName,
      </if>
      <if test="urFiledownloaduri != null">
        ur_fileDownloadUri,
      </if>
      <if test="urFiletype != null">
        ur_fileType,
      </if>
      <if test="urSize != null">
        ur_size,
      </if>
      <if test="urCustominfo != null">
        ur_customInfo,
      </if>
      <if test="urRecordtime != null">
        ur_recordTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="urId != null">
        #{urId,jdbcType=BIGINT},
      </if>
      <if test="urDomainname != null">
        #{urDomainname,jdbcType=VARCHAR},
      </if>
      <if test="urDomainid != null">
        #{urDomainid,jdbcType=BIGINT},
      </if>
      <if test="urFilename != null">
        #{urFilename,jdbcType=VARCHAR},
      </if>
      <if test="urFiledownloaduri != null">
        #{urFiledownloaduri,jdbcType=VARCHAR},
      </if>
      <if test="urFiletype != null">
        #{urFiletype,jdbcType=VARCHAR},
      </if>
      <if test="urSize != null">
        #{urSize,jdbcType=BIGINT},
      </if>
      <if test="urCustominfo != null">
        #{urCustominfo,jdbcType=VARCHAR},
      </if>
      <if test="urRecordtime != null">
        #{urRecordtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.uploadFile.UploadFileResponse">
    update t_uploadfileresponse
    <set>
      <if test="urDomainname != null">
        ur_domainName = #{urDomainname,jdbcType=VARCHAR},
      </if>
      <if test="urDomainid != null">
        ur_domainId = #{urDomainid,jdbcType=BIGINT},
      </if>
      <if test="urFilename != null">
        ur_fileName = #{urFilename,jdbcType=VARCHAR},
      </if>
      <if test="urFiledownloaduri != null">
        ur_fileDownloadUri = #{urFiledownloaduri,jdbcType=VARCHAR},
      </if>
      <if test="urFiletype != null">
        ur_fileType = #{urFiletype,jdbcType=VARCHAR},
      </if>
      <if test="urSize != null">
        ur_size = #{urSize,jdbcType=BIGINT},
      </if>
      <if test="urCustominfo != null">
        ur_customInfo = #{urCustominfo,jdbcType=VARCHAR},
      </if>
      <if test="urRecordtime != null">
        ur_recordTime = #{urRecordtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ur_id = #{urId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.uploadFile.UploadFileResponse">
    update t_uploadfileresponse
    set ur_domainName = #{urDomainname,jdbcType=VARCHAR},
      ur_domainId = #{urDomainid,jdbcType=BIGINT},
      ur_fileName = #{urFilename,jdbcType=VARCHAR},
      ur_fileDownloadUri = #{urFiledownloaduri,jdbcType=VARCHAR},
      ur_fileType = #{urFiletype,jdbcType=VARCHAR},
      ur_size = #{urSize,jdbcType=BIGINT},
      ur_customInfo = #{urCustominfo,jdbcType=VARCHAR},
      ur_recordTime = #{urRecordtime,jdbcType=TIMESTAMP}
    where ur_id = #{urId,jdbcType=BIGINT}
  </update>
</mapper>