<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.model.mapper.UploadFileMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.model.uploadFile.UploadFile">
        <id column="Uf_id" property="urId"/>
        <result column="Uf_domainName" property="urDomainname"/>
        <result column="Uf_domainId" property="urDomainid"/>
        <result column="Uf_fileName" property="urFilename"/>
        <result column="Uf_fileDownloadUri" property="urFiledownloaduri"/>
        <result column="Uf_fileType" property="urFiletype"/>
        <result column="Uf_size" property="urSize"/>
        <result column="Uf_customInfo" property="urCustominfo"/>
        <result column="Uf_savePath" property="urSavePath"/>
        <result column="Uf_originalPath" property="urOriginalPath"/>
        <result column="Uf_recordTime" property="urRecordtime"/>
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        *
        from t_uploadfile
        where Uf_id = #{urId,jdbcType=BIGINT}
    </select>
    <select id="selectByDomainname" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        *
        from t_uploadfile
        where Uf_domainName = #{urDomainname,jdbcType=VARCHAR}
    </select>
    <select id="selectByRelated" parameterType="map" resultMap="BaseResultMap">
        select
       *
        from t_uploadfile
        where 1=1
        <if test="domainName != null and domainName!=''">
            AND Uf_domainName=#{domainName}
        </if>
        <if test="domainId != null and domainId!=''">
            AND Uf_domainId=#{domainId}
        </if>

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_uploadfile
    where Uf_id = #{urId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByRelated" parameterType="map">
    delete from t_uploadfile
    where Uf_domainName=#{domainName} and Uf_domainId=#{domainId}
    </delete>
    <insert id="insert" parameterType="com.example.demo.model.uploadFile.UploadFile">
    insert into t_uploadfile (Uf_id, Uf_domainName, Uf_domainId,
      Uf_fileName, Uf_fileDownloadUri, Uf_fileType,
      Uf_size, Uf_customInfo,Uf_savePath,Uf_originalPath, Uf_recordTime
      )
    values (#{urId,jdbcType=BIGINT}, #{urDomainname,jdbcType=VARCHAR}, #{urDomainid,jdbcType=BIGINT}, 
      #{urFilename,jdbcType=VARCHAR}, #{urFiledownloaduri,jdbcType=VARCHAR}, #{urFiletype,jdbcType=VARCHAR}, 
      #{urSize,jdbcType=BIGINT}, #{urCustominfo,jdbcType=VARCHAR}, #{urSavePath,jdbcType=VARCHAR},#{urOriginalPath,jdbcType=VARCHAR},
      #{urRecordtime,jdbcType=DATE}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.demo.model.uploadFile.UploadFile">
    update t_uploadfile
    set Uf_domainName = #{urDomainname,jdbcType=VARCHAR},
      Uf_domainId = #{urDomainid,jdbcType=BIGINT},
      Uf_fileName = #{urFilename,jdbcType=VARCHAR},
      Uf_fileDownloadUri = #{urFiledownloaduri,jdbcType=VARCHAR},
      Uf_fileType = #{urFiletype,jdbcType=VARCHAR},
      Uf_size = #{urSize,jdbcType=BIGINT},
      Uf_customInfo = #{urCustominfo,jdbcType=VARCHAR},
       Uf_savePath = #{urSavePath,jdbcType=VARCHAR},
       Uf_originalPath = #{urOriginalPath,jdbcType=VARCHAR},
      Uf_recordTime = #{urRecordtime,jdbcType=DATE}
    where Uf_id = #{urId,jdbcType=BIGINT}
  </update>
</mapper>